body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
/*html{
    background-color: #000000;
}*/


::-webkit-scrollbar { 
    display: none;
  }



  .header{
    background-color: #1C1B19;
    height: 10vh;
    width: 100vw;
    box-shadow: 0vw 0.1vh 0.5vw 0vw #1c1b19fb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

}

.head-wrapper{
    flex-basis: 98%;
    height: 7vh;
    display: flex;
    position: relative;
}

.head-wrapper::after {
    content: "";
    position: absolute;
    width: 96%;
    bottom: -0.4vw; /* Adjust this value to move the border higher */
    left: 4%;
    transform: translateX(-2%);
    right: 0;
    height: 0.1vw; /* Border thickness */
    background-color: white; /* Border color */
}

.brand-wrapper{
    flex-basis: 22%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brand-wrapper img{
    width: 3.6vw;
    height: 3.6vw;
    margin: 0;
}

.brand-wrapper .line-spacer{
    width: 0.5vw;
    height: 7vh;
    background-color: white;
}

.text-wrapper{
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-wrapper h1{
    font-family: hind;
    font-size: 1.9vw;
    font-weight: bolder;
    color: white;
    margin: 0;
}
.text-wrapper h2{
    line-height: 0%;
    color: white;
    font-family: hind;
    font-size: 0.9vw;
    font-weight: bolder;   
    margin: 0;
}

.display-wrapper{
    width: 100vw;
    min-height: 90vh;
    background-color: #E8D2B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navigation-panel{
    width: 24vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button{
    width: 14vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container{
    width: 14vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}





.logout-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.log-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.log-icon img{
    width: 2vw;
    height: 2vw;
}

.log-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*dashboard button css start*/
.dashboard-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.db-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.db-icon img{
    width: 2vw;
    height: 2vw;
}

.db-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}


/*dashboard button css end*/

/*donation button css start*/

.donation-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.dob-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.dob-icon img{
    width: 2vw;
    height: 2vw;
}

.dob-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}




/*donation button css end*/


/*artifact button css start*/

.artifact-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.ar-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.ar-icon img{
    width: 2vw;
    height: 2vw;
}

.ar-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*artifact button css end*/


/*appointment button css start*/
.appointment-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.ap-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.ap-icon img{
    width: 2vw;
    height: 2vw;
}

.ap-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}
/*appointment button css end*/


/*layout button css start*/
.layout-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.lt-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.lt-icon img{
    width: 2vw;
    height: 2vw;
}

.lt-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*layout button css end*/


/*article button css start*/
.article-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.at-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.at-icon img{
    width: 2vw;
    height: 2vw;
}

.at-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}
/*article button css end*/


.active{
    background-color: #524433;
    color: white;
}

.active img {
    filter: invert(100%);
}
  

.content-container {
    width: 76vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notification-container {
    width: 76vw;
    height: 5vh;

    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}

.notification-button {
    padding: 0.5vw;
    outline: none;
    border: none;
    background: none;
    border: none;
}

.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.builder{
    width: 90%;
    height: 8vh;
    background-color: white;
    border-radius: 0.5vw;
}
.builder h1{
    font-family: Hind;
    font-weight: bold;
    padding: 0.8vw;
    padding-left: 2vw;
}

.metdata-wrapper{
    width: 90%;
    height: 18.3vh;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 2vw;
}

.title-wrapper{
    display: flex;
    height: 4vh;
    width: 100%;
}
#ttl-tx{
    padding: 0.1vw;
    padding-right: 4vw;
}
#art-type{
    padding: 0.1vw;
    padding-left: 5vw;
}

.content-wrapper{
    width: 90%;
    height: 50vh;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 2vw;
}

#article-title{
    border-radius: 0.4vw;
    width: 50%;
    font-family: Hind; 
    font-size: 0.9vw;                 
    color: #333;                     
    text-align: left;             
    padding: 1vw;                   
    border: 0.2vw solid #ccc;          
    border-radius: 0.5vw;  
}

#art-typ{
    padding: 0.1vw;
    padding-left: 2vw;
    padding-right: 4vw;
}

#article-type{
    border-radius: 0.4vw;
    width: 15%;
    font-family: Hind; 
    font-size: 0.9vw;                 
    color: #333;  
    background-color: transparent;                      
    text-align: center;                             
    border: 0.2vw solid #ccc;          
    border-radius: 0.5vw;  
}

#lcn-tx{
    padding: 0.1vw;
    padding-left: 0.1vw;
    padding-right: 1.2vw;
}

.location-wrapper{
    display: flex;
    height: 4vh;
    width: 100%;
    padding-top: 2vh;
}

#location{
    border-radius: 0.4vw;
    width: 50%;
    font-family: Hind; 
    font-size: 0.9vw;                 
    color: #333;                     
    text-align: left;             
    padding: 1vw;                   
    border: 0.2vw solid #ccc;          
    border-radius: 0.5vw;  
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333; /* Green button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
