/* header up */

body {
    margin: 0%;
}

.navbar {
    text-align: center;
    padding: 0%;
}

.navbar-nav {
    color: white;
    text-shadow: 5%;
}

#open {
    color: white;
    padding-left: 3rem;
    padding-top: 1rem;
}

.wrapper {
    background-color: #1C1B19;
    padding-bottom: 10px;
}

#container1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-size: small;
}

#container2 {
    padding: 1em 3em .1em 3em;
}

#logo {
    height: fit-content;
    width: 5rem;
    margin-left: 5%;
}

#brand {
    text-transform: uppercase;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: .5em;
}

.logowrapper {
    display: flex;
    align-items: center;
    margin-right: 20%;
}

#searchbtn {
    height: fit-content;
    width: 2.5em;
    position: relative;
}

.nav-link {
    color: white;
}


.dropdownicon {
    height: fit-content;
    width: 15px;
}

/* header end */

.searchcontainer {
    margin: 0px;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.searchcontainer img {
    max-width: 100%;
    width: 200em;
    height: 20rem;
    object-fit: cover;
    object-position: 10% 20%;
    filter: blur(2px) grayscale(50%) opacity(80%);
    display: block;
}



.form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    font-size: large;
}

.form-control,
.btn-search {
    border-radius: 10;
    border: 1px solid #000;
}

#features {
    padding: 5%;
    background-color: #1C1B19;
}

.feature-box {
    text-align: center;
}

.feature-box img {
    object-fit: cover;
    max-width: 100%;
    height: 400px;
    width: 400px;
}

.feature-box img:hover {
    filter: blur(2px) grayscale(50%) opacity(80%);
}

.feature-box h5 {
    color: #BD8049;
}

.feature-box h2 {
    color: #FCE6BC;
    font-family: Hina Mincho;
    font-size: 2.5em;
}

.feature-box h4 {
    color: #B1AEAB;
    font-size: 1em;
}

.feature-box h4 h5 {
    font-family: Nota Sans;
}

.feature-box .textarea {
    margin: 20px;
}

/* start of footer */

.side-footer {
    background-color: #1C1B19;
    color: white;
    margin: 10px;
}

.side-footer img {
    width: 60px;
    height: 60px;
    max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.museo-bulawan-cmp h2 {
    text-align: center;
    margin: auto .5rem;
    font-weight: bold;
    font-size: 40px;
}


.lowercontainer .navbar {
    display: flex;
    flex-direction: row-reverse;
    height: 15vh;
    width: 20vw;
}


.nav-links {
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 0em .5em;
}


.text-light {
    color: #fff;
}

.nav-links a {
    color: white;
    text-decoration: none; 
}

.nav-links a:hover {
    color: #ccc;
}

/* end of footer */

@media (max-width: 720px) {
    
}
