.navbar {
    
    text-align: center;
    padding: 0%;
}

.navbar-nav {
    
    color: white;
    text-shadow: 5%;
}

#open {
    color: white;
    padding-left: 5%;
    padding-top: 1%;
}

#brand {
    padding-left: 5%;
}

.wrapper {
    background-color: #1C1B19;
}

#container1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-size: small;
}



#container2 {
    margin-top: 1em;
    padding: 1rem;
}

#logo {
    height: fit-content;
    width: 70px;
    margin-left: 50px;
}

#brand {
    text-transform: uppercase;
    font-family: Noto Sans;
    font-weight: bold;
}

/*Russel part*/
/*Details*/

.image-container {
    font-family: "Hina Mincho", serif;
    position: relative;
    width: 100%;
    /* Adjust width as needed */
    border: 2px solid rgb(12, 255, 12);
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    
  }
  
  .image-container h1 {
    
    position: absolute;
    top: 50%; /* Adjust to control vertical position */
    left: 50%; /* Adjust to control horizontal position */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Or any color that contrasts well with the image */
    font-size: 50px; /* Adjust the size of the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for readability */
    
  }
  
  .image-container .image-details{
    position: absolute;
    bottom: 0; /* Position near the bottom of the image */
    left: 50%;
    height: 8vh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    color: white;
    border: 2px solid rgb(255, 79, 79);
   
    text-align: center;
    
  }

  .category{
    background-color: rgb(173, 173, 173, 0.3);
    width: 10%;
    border: 1px solid #1C1B19;
  }

  .artist{
    background-color: rgb(173, 173, 173, 0.3);
    width: 10%;
    border: 1px solid #1C1B19;
  }

  .Date{
    background-color: rgb(173, 173, 173, 0.3);
    width: 10%;
    border: 1px solid #1C1B19;
  }

  .Period{
    background-color: rgb(173, 173, 173, 0.3);
    width: 10%;
    border: 1px solid #1C1B19;
  }

  .Dimension{
    background-color: rgb(173, 173, 173, 0.3);
    width: 10%;
    border: 1px solid #1C1B19;
  }

  

/*Content*/
.content{
    font-family: "Hina Mincho", serif;
    background-color: #1C1B19;
    font: white;
}
.content .first-art{
    position: relative;
    display: flex;
}

.content .first-art img{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: auto;
    
   
    border: 2px solid rgb(79, 120, 255);
}

.content .first-art .info{
    
    bottom: 0;
    position: absolute;
    padding: 20px;
    background-color: #1C1B19; /* Slightly transparent background */
    border: 1px solid white; /* Optional: Border around the info section */
    color: rgb(0, 0, 0); /* Text color */
    margin-top: 20px;
    height: 30vh;
}


.content .first-art .info .brief, .head, .details {
    color: white;
    margin-bottom: 10px; /* Adds spacing between text sections */
}

.brief {
    font-size: 20px;
    width: 30%;
    margin-left: 5%;
    float: left;
}

.head {
    font-weight: bold; /* Bold for the heading */
    font-size: 40px; /* Larger font size for emphasis */
    float: right;
    width: 60%;
    
}

.details {
    font-size: 20px;
    float: right;
    width: 60%;
}


.content .second-art .info1{
    color: #1C1B19;
    border: 2px solid black;
}

.content .second-art .brief1 {
   
    font-size: 20px;
    width: 30%;
    margin-left: 5%;
    float: left;
}

.content .second-art .head1 {
    font-weight: bold; /* Bold for the heading */
    font-size: 40px; /* Larger font size for emphasis */
    float: right;
    width: 60%;
  
}

.content .second-art .details1 {
    
    font-size: 20px;
    float: right;
    width: 60%;
}

.content .second-art img{
    position: absolute;
    justify-content: flex-end;
}
  /*Russel part*/
