body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    

}



::-webkit-scrollbar { 
    display: none;
  }




  .header{
    background-color: #1C1B19;
    height: 10vh;
    width: 100vw;
    box-shadow: 0vw 0.1vh 0.5vw 0vw #1c1b19fb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

}

.head-wrapper{
    flex-basis: 98%;
    height: 7vh;
    display: flex;
    position: relative;
}

.head-wrapper::after {
    content: "";
    position: absolute;
    width: 96%;
    bottom: -0.4vw; /* Adjust this value to move the border higher */
    left: 4%;
    transform: translateX(-2%);
    right: 0;
    height: 0.1vw; /* Border thickness */
    background-color: white; /* Border color */
}

.brand-wrapper{
    flex-basis: 22%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brand-wrapper img{
    width: 3.6vw;
    height: 3.6vw;
    margin: 0;
}

.brand-wrapper .line-spacer{
    width: 0.5vw;
    height: 7vh;
    background-color: white;
}

.text-wrapper{
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-wrapper h1{
    font-family: hind;
    font-size: 1.9vw;
    font-weight: bolder;
    color: white;
    margin: 0;
}
.text-wrapper h2{
    line-height: 0%;
    color: white;
    font-family: hind;
    font-size: 0.9vw;
    font-weight: bolder;   
    margin: 0;
}

.display-wrapper{
    width: 100vw;
    height: 90vh;
    background-color: #F9F8E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navigation-panel{
    width: 24vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button{
    width: 14vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container{
    width: 14vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}





.logout-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.log-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.log-icon img{
    width: 2vw;
    height: 2vw;
}

.log-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*dashboard button css start*/
.dashboard-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.db-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.db-icon img{
    width: 2vw;
    height: 2vw;
}

.db-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}


/*dashboard button css end*/

/*donation button css start*/

.donation-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.dob-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.dob-icon img{
    width: 2vw;
    height: 2vw;
}

.dob-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}




/*donation button css end*/


/*artifact button css start*/

.artifact-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.ar-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.ar-icon img{
    width: 2vw;
    height: 2vw;
}

.ar-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*artifact button css end*/


/*appointment button css start*/
.appointment-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.ap-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.ap-icon img{
    width: 2vw;
    height: 2vw;
}

.ap-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}
/*appointment button css end*/


/*layout button css start*/
.layout-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.lt-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.lt-icon img{
    width: 2vw;
    height: 2vw;
}

.lt-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}

/*layout button css end*/


/*article button css start*/
.article-button{
    height: 5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    outline: none;
    border: none;
}

.at-icon{
    flex-basis: 10%;
    padding-left: 3%;
    position: flex;
    justify-content: center;
    align-items: center;
}

.at-icon img{
    width: 2vw;
    height: 2vw;
}

.at-text{
    font-family: Hind;
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 10%;
}
/*article button css end*/


.active{
    background-color: #524433;
    color: white;
}

.active img {
    filter: invert(100%);
}
  





.content-container{
    width: 76vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.notification-container{
    width: 76vw;
    height: 5vh;

    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}

.notification-button{
    padding: 0.5vw;
    outline: none;
    border: none;
    background: none;
    border: none;
}

/*this is the css container of the content*/
.main-content{
    width: 76vw;
    height: 85vh;
    flex: 1;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #F9F8E6;

}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 2px solid black; 
    position: relative; 
    font-size: 0.9rem;
}


/* Navigation Tabs */
.tab {
    cursor: pointer;
    border-radius: 5px;
    margin-right: 40px;
    font-weight: bold;
    transition: border 0.3s ease, filter 0.3s ease; /* Added filter transition */
    filter: opacity(0.5); /* Apply blur effect to inactive tabs */
}

.tab:hover {
    border: 2px solid #000; 
    filter: blur(0px); /* Remove blur on hover for better visibility */
}

.tab.active {
    outline: auto;
    padding: 3px;
    background-color: #F9F8E6; 
    color: black; 
    filter: none; /* Remove blur effect for the active tab */
}




/* Donation Header */
.donation-section {
    margin-bottom: 200px;
}

.donation-title {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
    text-align: left;

}

/* Donation Header */
.donation-header {
    display: flex;
    margin-bottom: 20px;
    gap: 20px; /* Closer gap between boxes */
}

.summary-box {
    display: flex;
    width: 180px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #e8dfca;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.summary-left {
    width: 40%;
    background-color: #d0b68b;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-right {
    width: 60%;
    background-color: #f3ecd5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.summary-title {
    font-size: 13px;
    color: #3a2d16;
    font-weight: bold;
    text-align: center;
}

.summary-number {
    font-size: 28px;
    font-weight: bold;
}


/* Specific Background Colors */
/* ----- COMMON STYLES ----- */
.summary-box .summary-left {
    background-color: #EAC39C; /* Change this to the desired color */
}

.summary-box .summary-right {
    border: 10px solid #EAC39C; /* Change this to the desired color */
}


/* Sort by Date - aligned to the right */
.sort-container {
    width: auto;
    text-align: right;

    margin-left: auto; /* This pushes the sort container to the right */

    padding-left: 5px;
}

.sort-container select {
    
    padding: 5px;
    border: none;
    color: #000; 
    cursor: pointer;
}

/* Evenly size the status buttons */

.status{
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-family: hina mincho;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 100px;
    margin-left: 10%;
}


/* Specific Background Colors */
.status.accepted,
.status.rejected,
.status.review {
    background-color: #9C7744; /* Common color for all */
}







.dropdown-icon {
    width: 15px;
    height: 12px;
    margin-left: 10%;

}

#ddate{
    margin-left: 4%;
}

#dnds{
    margin-left: 27%;
}
#dupd{
    margin-left: 21.5%;
}

.arrow {
    font-size: 10px;
    cursor: pointer;
    
}
.arrow.down::before {
    content: '▼';
}
.arrow.up::before {
    content: '▲';
}

.tab-head {

    display: flex;
    padding-bottom: 3px;

    
}

.tab-cell {
    padding: 5px;
    flex-wrap: wrap;
    
}

.tab-head p {
    border: none; 
    text-align: left; /* Align text to the left */
    font-weight: bold; 
    font-size: 10px;
    margin: 0; /* Remove default margins */
}
#dte{
 padding-left: 3rem;
}
#nds{
 padding-left: 3rem;
}
#ttl{
padding-left: 6rem;
}
#sta{
padding-left: 7.4rem;
}
#transta{
padding-left: 5.6rem;
}
#upd{
padding-left: 6rem;
}


/* Scrollable Table */


.table-container {
    max-height: 200px;
    overflow: visible; /* Hide overflow in the table container */

}


.donation-list {
    max-height: 200px; /* Set a maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */

    padding: 10px; /* Optional: Add some padding */
}



.donation-row { 
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}
    .donation-row:hover {
        background-color: #f1f1f1;
}
    .donation-row.active {
        background-color: #f0f0e0;
}

      

.donation-row > div {
    flex: 1; /* Distributes space evenly among columns */
    min-width: 100px; /* Set a minimum width for columns */
    text-align: center; /* Align text in the center of each column */
    overflow-wrap: break-word; /* Allows long words to break and wrap */
    word-wrap: break-word; /* Legacy support for older browsers */
    white-space: normal; /* Allows text to wrap onto the next line */
}
    .donation-details {
        display: none;
        margin: 10px;
        padding-left: 0%;
        
}
    .donation-details.active {
        display: block;
}
    .arrow {
        font-size: 20px;
        cursor: pointer;
}
    .arrow.down::before {
        content: '▼';
}
    .arrow.up::before {
        content: '▲';
}
    .details-table {
        background-color: white;
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;   
}
        .details-table th, .details-table td {
        padding: 8px 12px;
        color: black;
}   


    .details-table th {
        background-color: #8C5C2B;
}
    
 .ts, .sts {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    width: 100px; /* Set a fixed width */
    height: 25px;  /* Set a fixed height */
    display: inline-flex; /* Inline-flex to stay in the same line */
    align-items: center;
    justify-content: center; /* Center the text */
}
    .sts.accepted{
        background-color: #9C7744;
}
    .ts.acquired{
        background-color: #EAC39C;
}

    .sts.rejected{
        background-color: #361C07;
}

    .ts.rejected{
        background-color: #616161;
}

    /* Basic styling for the transfer status */
.transfer-status {
    position: relative; /* Required for positioning the dropdown options */
    display: flex; /* Aligns the dropdown options below the current status */
}

/* Style for the current status display */
.current-status {
    padding: 4px;
    width: 90px;
    cursor: pointer; /* Change cursor to pointer for better UX */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #EAC39C; /* Background color */
}


/* Style for the dropdown options container */
.dropdown-options {
    position: absolute; /* Position the dropdown options relative to the parent */
    top: 100%; /* Position directly below the current status */
    left: 0; /* Align to the left */
    background-color: #9C7744; /* Background color for dropdown */
    border: 1px solid #ccc; /* Border for dropdown */
    border-radius: 4px; /* Slightly rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 1000; /* Ensure dropdown is above other elements */
    width: 150px; /* Set a fixed width for dropdown */
}

/* Style for individual dropdown options */
.dropdown-options div {
    color: white;
    padding: 8px 12px; /* Padding for options */
    cursor: pointer; /* Change cursor to pointer for better UX */
}

/* Hover effect for dropdown options */
.dropdown-options div:hover {
    background-color: #dab27f; /* Change background on hover */
}

/* Show dropdown options when active */
.dropdown-options.visible {
    display: block; /* Show the dropdown options */
}

/* Style for the dropdown icon */
.dropdown-icon {
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 0;
    margin-left: 0; /* Reduced spacing between status and icon */
    cursor: pointer; /* Change cursor to pointer for better UX */
    font-size: 16px; /* Adjust font size for better visibility */
    line-height: 1; /* Ensure no extra spacing */
    height: 35px;
    background-color: #EAC39C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Optionally, you can add some styling for hover effect */
.dropdown-icon:hover {
    color: #516151; /* Change color on hover */
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1050; /* Same as Bootstrap's default for modal */
}

/* Modal dialog box */
.modal-dialog {
    margin: auto; /* Center horizontally */
    width: 1000px;
}
.custom-modal-width .modal-dialog {
    max-width: 950px;
}


.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 9000px;
}

.modal-header {
    background-color: #9C7744; /* Custom color */
    color: white;
    border-bottom: none;
}

.modal-title {
    font-size: 1.25rem; /* Adjust title size */
}

.modal-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f8f9fa;
   
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: none;
}



.btn-secondary:hover {
    background-color: #c1c0c0;
}

.btn-primary {
    background-color: #9C7744;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #e8c294;
}

.spacer {
    margin-left: 3rem;
    margin-right: 3rem;
}

.container {
    margin-left: 1rem;
 
}

/* Custom Card for Name Section */
.name-card {
    border: 2px solid #000;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
   
}

.name-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.name-content {
    display: flex;
    justify-content: space-around;
    width: 100%;


}



.name-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; 

    

}



.text-muted{
    transform: translateY(-14px);
}
.text-down{
    transform: translateY(20px); 
}

.custom-hr {
    border: none;
    border-top: 2px solid #000;
    opacity: 1;
    width: 100%;

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.artifact-image {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.btn-yes, .btn-no {
    color: #000; /* Black text */
    border: 2px solid #000; /* Black border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 40px; /* Padding for larger button area */
    font-size: 1em; /* Text size */
    font-weight: bold; /* Bold text */
  }
  
  .btn-yes {
    background-color: #f8d7a9; /* Light brown background for 'Yes' button */
  }
  
  .btn-no {
    background-color: #fff; /* White background for 'No' button */
  }