 .u-section-1 {
  background-image: url("images/backgroundimg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 141px auto 0 41px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.8125rem;
  line-height: 0.75;
  margin: 2px auto 60px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}