body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('../source/backgroundimg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: row;

}

.header-clipped .nuseum-logo{
    width: 5%;
    height: 5%;
}

header .flex-container1{
    width: fit-content;
    height: 100vh;
    /*position: absolute;
    left: 6%;*/
    display: flex;
    align-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

header h2{
    color: #DAB765;
    font-family: hind;
    font-weight: bold;
    font-size: 300%;
    line-height: 200%;
}
header h1{
    font-family: hind;
    font-weight: bold;
    color: white;
    line-height: 65%;
    font-size: 625%;
}

header .flex-container2{
    width: fit-content;
    height: 100vh;
    display: flex;
   /*position: absolute;
    left: -4%;*/
    flex-direction: column;
    justify-content: space-evenly;

}


header .flex-container3{
    width: fit-content;
    height: 100vh;
    display: flex;
   /*position: absolute;
    left: -4%;*/
    flex-direction: column;
    justify-content: space-evenly;

}

.handle{
    transform: rotate(270deg);
}