body {
    margin: 0%;
    position: relative;
    color: #FDFDEC;
}

#backgroundimg {
    max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.container1 {
    position: absolute;
    color: black;
    display: inline-block;
    margin: 0%;
}

#display {
    max-width: 50%;
    float: inline-end;
}

h3 {
    max-width: fit-content;
    font-size: larger;
}

p {
    max-width: fit-content;
    font-size: large;
}


