<h2 class="text-2xl font-semibold">Appointment</h2>
<p class="text-gray-600">Manage appointments effectively!</p>

<!-- Summary Section -->
<div class="table-content flex flex-col">
    <div
        class="w-full min-h-28 pt-6 rounded-md flex flex-col lg:flex-row md:flex-row justify-center md:justify-between lg:justify-between gap-y-2">
        <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
            <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
                <span class="text-center text-sm font-bold">Total Appointments</span>
            </div>
            <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                <span id="total-appointments" class="text-xl font-bold">0</span>
            </div>
        </div>
        <button
            id="create-appointment-button"
            class="p-5 bg-orange-300 text-black font-bold font-medium w-40 h-12 py-2 px-4 rounded-lg shadow-md hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-300">
            Create Appointment <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    <!-- Toolbar -->
    <div class="w-full h-fit items-center flex justify-end py-2">
        <div class="sort-container-appointment border-1 border-solid border-2 rounded-md">
            <label for="sort-appointment" class="text-gray-700 font-medium mb-2">Sort by Date:</label>
            <select id="sort-appointment" class="w-fit px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
        </div>
    </div>

    <!-- Appointments Table -->
    <div class="flex justify-center items-start">
        <table id="appointment-table" class="min-w-full table-auto">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-center">Date</th>
                    <th class="px-4 py-2 text-center">Name</th>
                    <th class="px-4 py-2 text-center">Time</th>
                    <th class="px-4 py-2 text-center">Status</th>
                    <th class="px-4 py-2 text-center">Number</th>
                    <th class="px-4 py-2 text-center">Confirmation Date</th>
                    <th class="px-4 py-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody class="space-y-4">
                <tr>
                    <td colspan="7" class="text-center py-4">No appointments found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
