<h2 class="text-2xl font-semibold">Artifact</h2>
<p class="text-gray-600">Welcome to the Artifact!</p>

          <div class=" w-full min-h-28 pt-6 rounded-md flex flex-col lg:flex-row md:flex-row justify-center md:justify-between lg:justify-start gap-y-2 mb-10">
            <div class="flex justify-around flex-wrap gap-6">
                <div class="p-2 border-[1px] border-black max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
                    <div class="flex justify-center  align-items-center w-20 h-16 rounded-md items-center">
                      <span class="text-center text-sm font-bold">Total Artifacts</span>
                    </div>
                    <div class="border-[1px] border-black flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                      <span id="total-layouts" class="text-xl font-bold">0</span>
                    </div>
                </div>

                <div class="p-2 border-[1px] border-black max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
                    <div class="flex justify-center  align-items-center w-20 h-16 rounded-md items-center">
                      <span class="text-center text-sm font-bold">Acquired</span>
                    </div>
                    <div class="border-[1px] border-black flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                      <span id="total-layouts" class="text-xl font-bold">0</span>
                    </div>
                </div>

                <div class="p-2 border-[1px] border-black max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
                    <div class="flex justify-center  align-items-center w-20 h-16 rounded-md items-center">
                      <span class="text-center text-sm font-bold">Borrowing</span>
                    </div>
                    <div class="border-[1px] border-black flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                      <span id="total-layouts" class="text-xl font-bold">0</span>
                    </div>
                </div>

                <div class="p-2 border-[1px] border-black max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
                    <div class="flex justify-center  align-items-center w-20 h-16 rounded-md items-center">
                      <span class="text-center text-sm font-bold">On Display</span>
                    </div>
                    <div class="border-[1px] border-black flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                      <span id="total-layouts" class="text-xl font-bold">0</span>
                    </div>
                </div>
            </div>
          </div>
          
          <div class="w-full h-fit items-center flex justify-between py-4 border-b-[2px] border-black">
          <!--Toolbar-->
          <a href="../admin_mis/layout-editor/index.html" target="_blank" class="border-[1px] border-black p-2 bg-orange-300 text-black font-bold font-medium w-40 h-12 py-2 px-4 rounded-lg shadow-md hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-300 flex items-center justify-center">
            Create Layout&nbsp;&nbsp;<i class="fa-solid fa-plus"></i>
            </a>
       

              <div class=" sort-container border-0 outline outline-1 outline-black rounded-md">
                <label for="sort" class="text-gray-700 font-medium mb-2">&nbsp&nbspSort</label>
                <select id="sort" class="w-fit px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                </select>
              </div>
          </div>