
    <h2 class="text-2xl font-semibold">Dashboard</h2>
    <p class="text-gray-600">Welcome to the Dashboard!</p>

    <div class="overflow-auto w-[1233px] min-h-[500px] flex flex-col">
    <div class="p-2 w-full min-h-72 mt-6  rounded-md  flex flex-col lg:flex-row md:flex-row justify-center md:justify-between lg:justify-between gap-y-2">
      <div class="basis-[47%] w-full min-h-[270px] flex justify-between">
        <div class="basis-[57%] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] min-w-[325px]] h-[270px] bg-white rounded-lg">
          <!-- Expected Visitors -->
           <h2 class="m-2 font-bold">Expected Visitor</h2>
        </div>

        <div class="basis-[40%]  w-full min-h-[270px] flex flex-col justify-between">
          <div class="w-[238px] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] h-[132px] bg-[#44331A] rounded-lg">
            <!-- Present -->
            <h1 class="text-lg mt-4 mb-2 ml-4 text-white font-bold">Present</h1>
          </div>
          <div class="w-[238px] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] h-[132px] bg-[#A9875A] rounded-lg">
            <!-- Absent -->
            <h1 class="text-lg mt-4 mb-2 ml-4 text-white font-bold">Absent</h1>
             
          </div>
        </div>
      </div>
      <div class="basis-[52%] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] bg-[#524433] min-w-[608px] h-[270px] rounded-lg flex flex-col">
        <h1 class="text-lg mt-4 mb-2 ml-2 text-white font-bold">Appointment Rate</h1>
        <div class=" rounded-2xl m-3 h-[190px] bg-white">

        </div>
      </div>

    </div>





    
    <div class="p-2 w-full min-h-72 mt-4  rounded-md  flex flex-col lg:flex-row md:flex-row justify-center md:justify-between lg:justify-between gap-y-2">
      <div class="basis-[52%] w-full min-h-[270px] bg-[#624b29] rounded-lg shadow-[0px_4px_6px_rgba(0,0,0,0.5)] flex flex-col justify-between">
        <div class="basis-[44.70%]  h-full ml-4 mr-4 mt-6 flex">
          <div class="basis-[45%] rounded-lg  h-full"> 
            <h1 class="text-2xl mt-4 mb-2 ml-4  h-[120px] text-white font-bold">Appointments</h1>

          </div>
          <div class="basis-[54%] rounded-lg pt-[8px] pb-[20px] pr-[20px] pl-[20px] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] bg-[#B4C187] flex justify-between ">
            <div class="basis-[45%] h-full">
              <h1 class="text-[20px]  text-white font-bold ">Today</h1>


            </div>
            <div class="basis-[45%]  bg-[#8C5C2B] h-full rounded-lg flex flex-col items-center">
              <h1 class="text-[20px]  text-white font-bold ">This Month</h1>


            </div>
          </div>
        </div>
        <div class="basis-[34.30%] h-[80px]  bg-[#F9F8E6] rounded-md ml-4 mr-4 mt-2 mb-4 shadow-[0px_4px_6px_rgba(0,0,0,0.5)]">
          <h1 class="text-[10px] m-2  text-black font-bold ">Summary Bar</h1>
        </div>
        
      </div>
      <div class="basis-[47%] w-full min-h-[270px] bg-white rounded-lg shadow-[0px_4px_6px_rgba(0,0,0,0.5)] flex flex-col">
          <div class="basis-[44.70%]  h-full ml-4 mr-4 mt-6 flex">
          <div class="basis-[45%] rounded-lg  y-full"> 
            <h1 class="text-2xl mt-4 mb-2 ml-4 text-[#624b29] h-[120px] font-bold">Approve Visits</h1>

          </div>
          <div class="basis-[54%] rounded-lg pt-[8px] pb-[20px] pr-[20px] pl-[20px] shadow-[0px_4px_6px_rgba(0,0,0,0.5)] bg-[#B4C187] flex justify-between ">
            <div class="basis-[45%] h-full">
              <h1 class="text-[20px]  text-white font-bold ">Today</h1>


            </div>
            
            <div class="basis-[45%] h-[120px] bg-[#8C5C2B] h-full rounded-lg flex flex-col items-center">
              <h1 class="text-[20px]  text-white font-bold ">This Month</h1>


            </div>
          </div>
        </div>
        <div class="basis-[34.30%] h-[80px] bg-[#F9F8E6] rounded-md ml-4 mr-4 mt-2 mb-4 shadow-[0px_4px_6px_rgba(0,0,0,0.5)]">
          <h1 class="text-[10px] m-2  text-black font-bold ">Summary Bar</h1>
        </div>
      </div>

    </div>

  </div>