<h2 class="text-2xl font-semibold">Donation</h2>
<p class="text-gray-600">Welcome to the Donations!</p>

<div class="table-content flex flex-col">
    <div class="w-full min-h-28 pt-6 rounded-md flex flex-col lg:flex-row md:flex-row justify-center md:justify-center lg:justify-center gap-y-2 gap-x-10 mb-10">
      <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
          <span class="text-center text-sm font-bold">Total Articles</span>
        </div>
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
          <span id="total-articless" class="text-xl font-bold">0</span>
        </div>
      </div>
      
      <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
          <span class="text-center text-sm font-bold">Total Articles</span>
        </div>
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
          <span id="total-articless" class="text-xl font-bold">0</span>
        </div>
      </div>

      <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
          <span class="text-center text-sm font-bold">Total Articles</span>
        </div>
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
          <span id="total-articless" class="text-xl font-bold">0</span>
        </div>
      </div>

      <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
          <span class="text-center text-sm font-bold">Total Articles</span>
        </div>
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
          <span id="total-articless" class="text-xl font-bold">0</span>
        </div>
      </div>

      <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
          <span class="text-center text-sm font-bold">Total Articles</span>
        </div>
        <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
          <span id="total-articless" class="text-xl font-bold">0</span>
        </div>
      </div>

    </div>

    <div class="w-full h-fit items-center flex justify-end py-4">
    <!--Toolbar-->
    <div class="sort-container-donation border-0 outline outline-1 outline-gray-300 rounded-md">
      <label for="sort-donation" class="text-gray-700 font-medium mb-2">&nbsp&nbspSort</label>
      <select id="sort-donation" class="w-fit px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
      </select>
    </div>
    </div>

    <div class="flex justify-center items-start">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-center">Date</th>
            <th class="px-4 py-2 text-center">Name of Donor</th>
            <th class="px-4 py-2 text-center">Title</th>
            <th class="px-4 py-2 text-center">Status</th>
            <th class="px-4 py-2 text-center">Transfer Status</th>
            <th class="px-4 py-2 text-center">Last Updated</th>
            <th class="px-4 py-2 text-center">Action</th>

            
            
          </tr>
        </thead>
        <tbody class="space-y-4">
          <tr>
           <!-- <td colspan="7" class="text-center py-4">No articles found.</td> -->
           <td class="px-4 py-2 text-center">2024-11-01</td>
           <td class="px-4 py-2 text-center">John Doe</td>
           <td class="px-4 py-2 text-center">Donation of Ancient Vase</td>
           <td class="px-4 py-2 text-center">
              <select id="sortt" class="w-fit text-white font-medium text-white bg-gray-500 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-300">
                  <option class="" value="pending">Pending</option>
                  <option class="" value="acquired">Acquired</option>
                  <option class="" value="failed">Failed</option>
              </select>
           </td>
           <td class="px-4 py-2 text-center">
            <select id="sorttt" class="w-fit text-white font-medium text-white bg-gray-500 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-300">
              <option class="" value="pending">Pending</option>
              <option class="" value="acquired">Acquired</option>
              <option class="" value="failed">Failed</option>
          </select>
           </td>
           <td class="px-4 py-2 text-center">2024-11-05</td>
           <td class="px-4 py-2 text-center">
               <button class="bg-green-500 text-white p-2 rounded hover:bg-green-600"><i class="fas fa-eye"></i></button>
               <button class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600"><i class="fas fa-edit"></i></button>
               <button class="bg-red-500 text-white p-2 rounded hover:bg-red-600"><i class="fas fa-trash"></i></button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
