<h2 class="text-2xl font-semibold">Layout</h2>
<p class="text-gray-600">Welcome to the Museum layout Manager!</p>

          <div class="w-full min-h-28 pt-6 rounded-md flex flex-col lg:flex-row md:flex-row justify-center md:justify-between lg:justify-between gap-y-2 mb-10">
                <div class="p-2 max-w-44 max-h-24 rounded-md bg-orange-200 flex justify-center items-center">
                    <div class="flex justify-center align-items-center w-20 h-16 rounded-md items-center">
                      <span class="text-center text-sm font-bold">Total Layouts</span>
                    </div>
                    <div class="flex justify-center align-items-center w-20 h-16 rounded-md bg-white items-center">
                      <span id="total-layouts" class="text-xl font-bold">0</span>
                    </div>
                </div>
                
          </div>
          
          <div class="w-full h-fit items-center flex justify-between py-4 border-b-[2px] border-black">
          <!--Toolbar-->
          <a href="../admin_mis/layout-editor/index.html" target="_blank" class="p-2 bg-orange-300 text-black font-bold font-medium w-40 h-12 py-2 px-4 rounded-lg shadow-md hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-300 flex items-center justify-center">
            Create Layout&nbsp;&nbsp;<i class="fa-solid fa-plus"></i>
        </a>


              <div class="sort-container border-0 outline outline-1 outline-gray-300 rounded-md">
                <label for="sort" class="text-gray-700 font-medium mb-2">&nbsp&nbspSort</label>
                <select id="sort" class="w-fit px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                </select>
              </div>
          </div>
          <div class="flex mt-4 h-[400px] justify-center  overflow-y-auto">
            <div class="w-full h-full flex flex-wrap gap-4 m-2 mx-[141px]">
                <div class="bg-orange-200 shadow-md rounded-lg overflow-hidden w-[300px] h-[330px] border-[1px] border-black">
                    <!-- layout-source >> image -->
                     <!-- layout-title >> title of the layout -->
                      <!-- created-date >> creation time of layout -->
                       <!-- active-status >> set the color to the bg-green-700 to indicate that it is active in the layoout display -->
                    <img id="layout-source" src="https://lightpink-dogfish-795437.hostingersite.com/admin_mis/src/uploads/layout-made/fp_1732356355151_sdfgsdfg.png" alt="Image 1" class="rounded-lg w-full  object-cover">
                    <div class="p-4">
                        <h3 class="text-sm font-semibold text-black" id="layout-title">Card Title 1</h3>
                        <p class="text-black my-2">Creation Date: <span id="created-date"></span></p>
                        <div class="flex items-center justify-around ">
                            <!-- Set Layout Button -->
                            <button class="flex text-center items-center bg-transparent text-black text-sm p-[10px] rounded hover:bg-orange-300">
                                &nbsp;&nbsp;<i class="fas fa-layer-group mr-2"></i>
                            </button>
                            <!-- View Button -->
                            <button class="flex text-center items-center bg-transparent text-black text-sm p-[10px] rounded hover:bg-orange-300">
                                &nbsp;&nbsp;<i class="fas fa-eye mr-2"></i> 
                            </button>
                            
                            <!-- Delete Button -->
                            <button class="flex text-center items-center bg-transparent text-black text-sm p-[10px] rounded hover:bg-orange-300">
                               &nbsp;&nbsp; <i class="fas fa-trash mr-2"></i> 
                            </button>
                        </div>
                        <div id="active-status" class="w-full h-[20px] bg-green-700"></div>
                    </div>
                </div>

            </div>
        </div>