
.wrapperwhite {
    background: #FDFDEC;
}

.wrapper {
    background-color: #1C1B19;
}

body {
    background: #FDFDEC;
    margin: 0%;
    padding: 0%;
}

.navbar {
    text-align: center;
    padding: 0%;
}

#container1 .nav-link {
    color: white;
    font-family: Noto Sans;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#container1 .nav-link:hover {
    color: gray;
}

#container2 .nav-link {
    color: black;
    font-family: Inter;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#container2 .nav-link:hover {
    color: gray;
}



#open {
    color: white;
    padding-left: 3rem;
    padding-top: 1rem;
}



#container1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-size: small;
}

#container2 {
    padding: 1em 3em .1em 3em;
}

#logo {
    height: fit-content;
    width: 5rem;
    margin-left: 5%;
}

#brand {
    text-transform: uppercase;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: .5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logowrapper {
    display: flex;
    align-items: center;
    margin-right: 20%;
}

#searchbtn {
    height: fit-content;
    width: 2.5em;
    position: relative;
}


.dropdownicon {
    height: fit-content;
    width: 15px;
}

.donationtitle {
    background: white;
    box-shadow: #1C1B19;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: Hina Mincho, sans-serif;
}

.intro {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.intro p {
    text-align: justify;
    font-family: 'Hind Kochi', sans-serif;
}

.form-control {
    border: 2px solid black;
    border-radius: 20px;
}
.form-control::placeholder {
    font-size: 0.9rem;
    color: #999;
}
label {
    font-weight: bold;
}
.text-danger {
    color: red;
}
.section-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.side-footer {
    background-color: #1C1B19;
    color: white;
}

.side-footer img {
    width: 60px;
    height: 60px;
    max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.museo-bulawan-cmp h2 {
    text-align: center;
    margin: auto .5rem;
    font-weight: bold;
    font-size: 40px;
}


.lowercontainer .navbar {
    display: flex;
    flex-direction: row-reverse;
    height: 15vh;
    width: 20vw;
}


.nav-links {
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 0em .5em;
}


.text-light {
    color: #fff;
}

.nav-links a {
    color: white;
    text-decoration: none; 
}

.nav-links a:hover {
    color: #ccc;
}


.side-footer .nav-link {
    color: white;
}

.side-footer .nav-link:hover {
    color: gray;
}

.intro .btn {
    background-color: #E8D2B6;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
